@model IEnumerable<MVCprojekt.Models.Tournament>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@if (User.Identity.IsAuthenticated)
{
    <p>
    @Html.ActionLink("Create New", "Create")
    </p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discipline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organisator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requestLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playersCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discipline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.organisator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requestLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playersCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@if(ViewBag.Page != null && ViewBag.Page > 1)
{
    @Html.ActionLink("Previous", "Index", new { page = ViewBag.Page - 1 })

}
@Html.ActionLink("Next", "Index", new { page = ViewBag.Page + 1})